svg {
  width: 600px;
  height: 400px;
}

.lasso path {
  stroke: rgb(80, 80, 80);
  stroke-width: 2px;
}

.lasso .drawn {
  fill-opacity: .05;
}

.lasso .loop_close {
  fill: none;
  stroke-dasharray: 4, 4;
}

.lasso .origin {
  fill: #3399FF;
  fill-opacity: .5;
}

.selected {
  stroke: #000;
  stroke-width: 1px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

button {
  display: block;
}